body {
    overflow-x: hidden;
}

.logo {
    max-width: 90vw;
}

.right {
    animation: fadeinright 2s;
}

.left {
    animation: fadeinleft 2s;
}

.contact {
    /*background:linear-gradient(45deg,rgba(80,1,0,0.6), rgba(118,1,0,0.9));*/
    background: linear-gradient(45deg,rgba(80,1,0,0.6), rgba(118,1,0,0.9)), url("../img/contact.jpg");
    background-size: cover;
}

.mask {
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}

@keyframes fadeinleft {
    from { transform: translateX(-100%); }
    to   { transform: translateX(0%); }
}

@keyframes fadeinright {
  from { transform: translateX(100%); }
  to   { transform: translateX(0%); }
}
